Cython==0.15.1
Flask==0.8
Jinja2==2.6
PIL==1.1.7
PyOpenGL==3.0.2a5
PyYAML==3.10
Werkzeug==0.8.3
certifi==0.0.8
chardet==1.0.1
distribute==0.6.26
ipython==0.12
lxml==2.2.2
midi==0.2.2
mongoengine==0.5.2
nltk==2.0.1rc4
numpy==1.6.1
pksampler==0.4b
pyffmpeg==2.1beta
pymongo==2.1.1
python-Levenshtein==0.10.1
requests==0.10.1
simplejson==2.3.2
tweepy==1.8
virtualenv==1.7.1.2
wsgiref==0.1.2
