<!doctype html>
<html lang="en">
<head>  
  {% block head %}
  <meta charset="utf-8">  
  <title>{% block title %} ~ ||PYRAMID|BUFFET|| {% endblock %}</title>
  <meta name="author" content="dungeon">  
  <link rel="stylesheet" type="text/css" href="/static/style.css"/>
  <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>-->
  {% endblock %}
<body>
<div class="container">
<div class="navBar">
  <img src="/static/pyrNavBar-small.png">
  <b><a href="/">||PYRAMIDBUFFET||</a></b>
  <div style="float: right">
    <a href="/login">login</a>
  </div>
</div>
{% block container %}
{% endblock %}
</div>
<div class="footer">
    <b>pyramidbuffet.org</b> is a little prototype explorer for things the dungeon people create. 
</div>
</body>
