{% extends "base.html" %}

{% block container %}


<h2>Movies:</h2>
{% for item in pyr_items %}
{% if item.mediatype == 'movies' %}
<li><a href="/details/{{ item.identifier }}">{{ item.title|capitalize }}</a></li>
{% endif %}
{% endfor %}

<h2>Audio:</h2>
{% for item in pyr_items %}
{% if item.mediatype == 'audio' %}
<li><a href="/details/{{ item.identifier }}">{{ item.title|capitalize }}</a></li>
{% endif %}
{% endfor %}

<h2>Texts:</h2>
{% for item in pyr_items %}
{% if item.mediatype == 'texts' %}
<li><a href="/details/{{ item.identifier }}">{{ item.title|capitalize }}</a></li>
{% endif %}
{% endfor %}

{% endblock %}
