<!doctype html>
<html lang="en">
<head>  
  <meta charset="utf-8">  
  <title>||PYRAMID|BUFFET||</title>
  <meta name="description" content="details page">
  <meta name="author" content="dungeon">  
  <link rel="stylesheet" type="text/css" href="/static/style.css"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
<body>
<div class="container">
<div class="navBar">
  <div style="float: right">
    <a href="/login">login</a>
  </div>
  <b><a href="/">||PYRAMIDBUFFET||</a></b>
  <!--<a href="http://dungeon.pyramidbuffet.org">dungeon chat</a>-->
</div>
<h1>Explore the Archive!</h1>
<h2>Movies:</h2>
<li><a href="/details/cloudseed">Cloudseed</a></li>
<li><a href="/details/dungeontapes">dungeontapes</a></li>
<li><a href="/details/BeneathTheWinterMoon">Beneath The Winter Moon</a></li>
<li><a href="/details/bourgoiestreet-sketch-pot">bourgoiestreet-sketch-pot</a></li>
<h2>Audio:</h2>
<li><a href="/details/JakeAndDiane">Life and Goes-on</a></li>
<li><a href="/details/The_Cost_M_Curtis_Allen">The Cost</a></li>
<li><a href="/details/FarewellToUselessPortals_Volumes1-2">Farewell To Usless portals, Volumes 1 & 2</a></li>
<li><a href="/details/DeadCarpEpLarryWishSplit">Dead Carp EP/LARRY WISH SPLIT</a></li>
<h2>Texts:</h2>
<li><a href="/details/AQuestionableAssemblageConcerningAPostnaturalEcologicalInterface">A Questionable Assemblage Concerning a Postnatural Ecological Interface</a></li>
<li><a href="/details/MacroImbroglioVolumeOneOntology">Macroimbroglio; Ontology</a></li>
<li><a href="/details/ian-huddleston_easter-program">EASTER</a></li>

</div>
</body>
</html>
                                                                                                                                                                        
